.uploadBtn{
    background: radial-gradient(#e7f238, #13a22da1);
    margin-right: 80px;
    margin-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    padding-right: 20px;
    padding-left: 20px;
}

.icon-color{
    color: green;
}

.about-round-icon-logo{
    border-radius: 100px;
    padding-bottom: 15px;
}


/*SLIDER - HOME*/
@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    }
    
    body { margin: 0; } 
    div#slider { overflow: hidden;
        /* margin-right: 90px;
        margin-left: 90px;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 30px;
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px; */
    }
    div#slider figure img { width: 20%; float: left; }
    div#slider figure { 
      position: relative;
      width: 500%;
      margin: 0;
      left: 0;
      text-align: left;
      font-size: 0;
      animation: 30s slidy infinite; 
    }
    

    /* Testimonials background*/
    .home-testimonials{
        background: linear-gradient(0deg, rgb(6 38 165 / 40%), rgb(18 18 27 / 44%)), url(https://images.pexels.com/photos/5910953/pexels-photo-5910953.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
        background-repeat: no-repeat;
        background-size: cover;
    }



    /*App*/
    .embed-responsive-qr{
        margin-top: 10px;
    margin-right: 10px;
    
    }

    .embed-responsive-qr-playstore{
    width: 270px;
    height: 100px;
    }

    /*OTP Hidden*/

    #OTPForm {
        visibility: hidden;
    }

   /* about - Aboutcontent1 text*/
    .alignment-left{
        text-align: left;
    }

    .maxwidth{
        max-width: 800px;
    }

    /*about specialists*/
    .tp-team__thumb a img{
        height: 550px;
    }


    .boxshadow{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }


    /*Careere*/
    @import url(https://fonts.googleapis.com/css?family=Hind);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* body {
	font-family: 'Open Sans', sans-serif;
	color: #31383d;
	font-size: 1.1rem;
} */

section {
	padding: 30px 0;
	background: #fff;
}

p {
	line-height: 1.5;
	margin: 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Hind', sans-serif;
  font-weight: 800;
}

a {
	/* color: #31383d; */
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

a:hover,
a:focus {
	color: #73a5fc;
}




ul.job-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.job-list > li.job-preview {
	background: #fff;
	border: 1px solid #d7e2e9;
	-webkit-border-radius: 0.4rem;
	-moz-border-radius: 0.4rem;
	border-radius: 0.4rem;
	padding: 1.5rem 2rem;
	margin-bottom: 1rem;
	float: left;
	width: 100%;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
    display: flex;
}

ul.job-list > li.job-preview:hover {
	cursor: pointer;
	-webkit-box-shadow: 0 3px 8px rgba(0,0,0,0.05);
	-moz-box-shadow: 0 3px 8px rgba(0,0,0,0.05);
	box-shadow: 0 3px 8px rgba(0,0,0,0.05);
}

.job-title {
	margin-top: 0.6rem;
}

.company {
	color: #96a4b1;
}

.job-preview .btn {
	margin-top: 65px;
}

.btn-apply {
	text-transform: uppercase;
	font-size: 0.875rem;
	font-weight: 800;
	letter-spacing: 1px;
	background-color: transparent;
	/* color:  #393a5f; */
	border: 2px solid #393a5f;
	padding: 0.6rem 2rem;
	-webkit-border-radius: 2rem;
	-moz-border-radius: 2rem;
	border-radius: 2rem;
}

.btn-apply:hover {
	background-color: #393a5f;
	color:  #fff;
	border: 2px solid #393a5f;
}

.setting{
    margin-top: 30px;
    margin-right: 600px;
}

@media (max-width: 575px) {
	.job-preview .content {
		width: 100%;
	}
}


